# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.vs/HistoricoChatMetro/config/applicationhost.config
.vs/HistoricoChatMetro/DesignTimeBuild/.dtbcache.v2
.vs/HistoricoChatMetro/FileContentIndex/7c2a7890-0d33-4cfd-a2fd-b0468632d402.vsidx
.vs/HistoricoChatMetro/FileContentIndex/fc3430ac-2e1b-437f-96a8-79ca2afd5482.vsidx
.vs/HistoricoChatMetro/FileContentIndex/read.lock
.vs/HistoricoChatMetro/v17/.futdcache.v1
.vs/HistoricoChatMetro/v17/.suo
.vs/

# Exclude Logs
HistoricoChatMetro/HistoricoChatMetro/Logs/